
.mozilla-headline-unique {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 112.5;
}

@font-face {
  font-family: "Mozilla Headline";
  src: url("/website/fonts/Mozilla-Headline.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mozilla Headline", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  font-family: 'mozilla-headline-unique', sans-serif;
}
header {
  background-color: rgb(3, 3, 63);
  color: white;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

h2 {
  font-size: 50px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 30px;
}
nav ul li {
  display: inline;
  margin: 0 15px;
  padding: 5px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  color: rgb(3, 3, 63);
  background-color: #ffff;
  padding: 10px;
  border-radius: 5px;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
main {
  padding: 20px;
}
section {
  margin-bottom: 20px;
}
.hero{
  padding: 20px;
}
p {
  line-height: 1.6;
  font-size: 1.1em;
}
span {
  margin-top: 20px;
  font-size: 1.2em;
  flex-direction: column;
  position: relative;
  display: inline-block;
  width: 50rem;
  right: -30px;
  top: -5px;

}
footer {
  text-align: center;
  padding: 10px 0;
  background-color: rgb(3, 3, 63);
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
footer a{
  margin: 0 5px;
}
footer a:hover {
  color: white;
;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 20px 0;
  display: inline;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 30px;
}

@media  (max-width: 600px) {
  nav ul li {
    display: block;
    margin: 10px 0;
  }
  header {
    padding: 10px;
    text-align: center;
  }
}
@media (min-width: 601px) {
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
}
